body {

    background-color: white;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 200%;
    background-color: #f1f1f1;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-weight: bold;
}

p {
    color: #666666;
}

header {
    background-color: #ffffff;
    border: 1.5px solid #cccccc;
    height: 90px;
    margin-bottom: 40px;
}

#header-content {
    width: 960px;
    margin: 0 auto;
}

#header-content h1 {

    float: left;
    background-color: #4aaaa5;
    height: 90px;
    width: 200px;
    display: flex;
    color: #ffffff;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#header-links a {
    float: right;
    color: #666666;
    text-decoration: none;
    padding: 0 10px;
    position: relative;
    top: 30px;
    border-right: .5px solid #666666;
}

.container {
    clear: both;
    overflow: auto;
    width: 960px;
    margin: 0 auto;
}

section{

    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-sizing: border-box;
}

#main-content{
    float: left;
    width: 650px;
    padding: 3%;
}

#main-content h1 {
    font-size: 24px;
    padding-bottom: 15px; 
    border-bottom: 2px solid #dddddd;
    margin-bottom: 3%;
}

#bio-image {

    float: left;
    margin-right: 3%;
    margin-bottom: 3%;
}

#side-bar {
    float: right;
    width: 270px;
    padding: 2%;
}

#side-bar h2 {
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 4%;
    text-align: center;
}

.icon {
    width: 60px;
    margin-right: 0;
    margin-left: 2px;
}

#side-bar-icons {
    margin: 0 auto;
    margin-left: 15px;
}


footer {
    clear: both;
    height: 90px;
    border-top: 5px solid #4aaaa5;
    background-color: #666666;
    display: flex;
    font-size: 10px;
    color:#dddddd;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-h2 {
    color: #666666;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.contact-input {
    width: 100%;
    height: 25px;
    margin-bottom: 5px;
}

#contact-message {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

#submit {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 5px 15px;
    border: none;
}
  
.column {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 10px;
  }
  
.column img {
    margin-top: 8px;
    width: 100%;
  }

.project-item {
    position: relative;
}

.project-name {
    width: 100%;
    background-color: #4aaaa5;
    color: #ffffff;
    position: absolute;
    bottom: 15px;
    text-align: center;
}